@{ViewBag.Title = "檔案上傳";}

@using (Html.BeginForm("Upload","Create",FormMethod.Post,new { @enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBox("files","",new { @type="file",@multiple="multiple"})
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg fa fa-upload fa-og">
            上傳
        </button>
    </div>
}