
@{
    ViewBag.Title = "已完成付款";
}

<h2>@ViewBag.Title</h2>

<br /><br />
<hr />
<div style="font-size: 18px;font-weight: bolder;">感謝您，我們盡快處理</div>
<div style="text-align:left;">若處理完畢，您會在帳務管理『購買紀錄』查到此筆交易編號，表示已刊登。</div>
<br /><br />

<a href="@Url.Action("PublishedInquire")" class="btn btn-primary" role="button">確定</a>