
@{
    ViewBag.Title = "刊登查詢";
}

<h2>@ViewBag.Title</h2>
@section styles
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
}
<div>
    <div id="tabs">
        <ul>
            <li><a href="PublishedUnpaid">未付款</a></li>
            <li><a href="Published">刊登中</a></li>
            <li><a href="PublishedOffTheShelf">已下架</a></li>
            <li><a href="PublishedAll">顯示全部</a></li>
        </ul>
    </div>
</div>

@section scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#tabs").tabs({
                beforeLoad: function (event, ui) {
                    //ui.jqXHR.fail(function () {
                    //    ui.panel.html();
                    //});
                }
            });
        });
    </script>
}